/*background blue*/
body{
    background-color: #85d2f3;
    overflow: hidden;
}
/*putting the clouds in the background with opacity and effects*/
.cloud{
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    animation: zoomInOut 2.2s infinite alternate;
}
/*effect of zoom*/
@keyframes zoomInOut {
    0% { transform: scale(1); }   
    50% { transform: scale(1.2); } 
    100% { transform: scale(1); }
}

/*make the zooming alternating*/
.cloud:nth-child(even) { 
    animation-delay: 0.3s;
}

/*position of clouds and hearts*/
.cloud1 { 
    top: 10%; 
    left: 5%; 
    width: 200px
}
.cloud1-duplicate{ 
    top: 10%; 
    left: 40%; 
    width: 250px;
}
.cloud2 { 
    top: 30%; 
    left: 0; 
    width: 150px; 
}
.cloud3 { 
    top: 50%; 
    left: 10%; 
    width: 500px;
}
.cloud3-duplicate{ 
    bottom: 20%; 
    left: 40%; 
    width: 250px;
}
.cloud3-duplicate2{
    bottom: 40%; 
    left: 90%; 
    width: 250px;
}
.cloud4 { 
    top: 70%; 
    right: 10%; 
    width: 300px;
}
.cloud5 { 
    bottom: 5%; 
    left: 0%; 
    width: 500px;
}
.cloud6 { 
    top: 10%; 
    left: 70%; 
    width: 600px;
}
.heart1 { 
    top: 40%; 
    right: 17%; 
    width: 200px
}
.heart2 { 
    top: 20%; 
    left: 25%; 
    width: 150px
}

/*title styles*/
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*add animation to the title*/
.name {
    display: block;
    width: 300px;
    animation: zoomInOut 1.9s infinite alternate;
}
/*make the zooming alternating*/
.name:nth-child(2) { 
    animation-delay: 0.3s;
}

/*button to start*/
.button{
    background-color: #fe87fb;
    font-family: "Jersey 10", sans-serif;
    text-transform: uppercase;
    padding: 15px 70px;
    margin-top: 30px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.button:hover{
    background-color: #ef59f8;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(1.05);
}
