.navbar {
    display: flex;
    align-items: center;
}

.menu-button {
    background-image: url(../img/lightstick.png);
    padding: 10px 15px;
    border: none;
    margin-right: 10px;
    position: absolute;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    padding: 0px;
    position: absolute;
    top: 44px;
    width: 100px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.menu a:hover {
    background-color: #666;
}

.menu-container:hover .menu {
    display: flex;
}