.navbar {
    display: flex;
    align-items: center;
}

.menu-button {
    background-image: url(../img/lightstick.png);
    background-color: transparent; 
    background-size: cover;
    padding: 10px 15px;
    border: none;
    margin-right: 10px;
    position: absolute;
    background-repeat: no-repeat;
    width: 70px;
    height: 50px;
    animation: headShake 2s infinite ease-in-out;
}

@keyframes headShake {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.menu {
    display: none;
    flex-direction: column;
    background-color: #6bb9e6;
    padding: 0px;
    position: absolute;
    top: 50px;
    width: 100px;
    border-radius: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-family: "Jersey 10", sans-serif;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(1.05);
    border-radius: 10px;
}

.menu a:hover {
    background-color: white;
    border-radius: 10px;
}

.menu-container:hover .menu {
    display: flex;
}

.runner-container {
    position: absolute;
    bottom: 7%;
    width: 100vw;
    height: 100vh;
}

.runnerRight {
    left: -1720px; 
}

.runnerLeft {
    right: -1720px; 
}

.runner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    transition: transform 1s linear;
}