body {
  background-image: url("../img/options.png");                      
}

body, html {  
  background-color: black;
  background-repeat: no-repeat; 
  background-size: contain;     
  background-position: center; 
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
  font-size:35px;
  color: #000000;
}

/*sun flare effects*/
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
  border-radius: 50%;
  background: radial-gradient(
    rgba(255,240,180,0.9),
    rgba(255,240,180,0)
  );
  animation:
    sunmove 6s ease-out forwards,
    sunpulse 4s ease-out forwards;
}

.flare {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation: sunmove 6s ease-out forwards;
}

.flare.big {
  width: 600px;
  height: 600px;
  top: 40%;
  left: 45%;
  background: radial-gradient(
    rgba(255,200,120,0.15),
    rgba(255,200,120,0)
  );
}

.flare.medium {
  width: 350px;
  height: 350px;
  top: 45%;
  left: 52%;
  background: radial-gradient(
    rgba(255,220,140,0.2),
    rgba(255,220,140,0)
  );
}

.flare.small {
  width: 40px;
  height: 40px;
  top: 58%;
  left: 60%;
  background: radial-gradient(
    rgba(255,240,180,0.9),
    rgba(255,240,180,0)
  );
  animation: sunsmallmove 5s ease-out forwards;
}

@keyframes sunmove {
  0% {
    transform: translate(-300px, -300px); /* left top corner */
  }
  100% {
    transform: translate(300px, 300px); /* right bottom corner */
  }
}

@keyframes sunsmallmove {
  0% {
    transform: translate(-220px, -220px);
  }
  100% {
    transform: translate(220px, 220px);
  }
}

@keyframes sunpulse {
  0%   { filter: blur(10px) brightness(1); }
  100% { filter: blur(22px) brightness(1.35); }
}

/*Titles*/
@font-face {
    font-family: "MyFont";
    src: url("../fonts/04B_30__.TTF") format("truetype");
}

.projects,.work{
  font-family: "MyFont", sans-serif;
  position: relative;
  display: inline-block;
}

.projects{
  top: 255px;
  left: 645px;
  font-size: 25px;
}

.work{
  top: 635px;
  right:155px;
}


.glitch {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/*glitch*/
.glitch{
    animation: glitch 0.45s steps(2, end) 1 forwards;
}

.glitch::before {
    color: #a855f7;
    animation: glitchBefore 0.45s steps(2, end) 1 forwards;
}

.glitch::after {
    color: #d8b4fe;
    animation: glitchAfter 0.45s steps(2, end) 1 forwards;
}
.projects,.projects::before,
.projects::after {
  animation-delay: 5s;
}

.work,.work::before,
.work::after {
  animation-delay: 6s;
}

@keyframes glitch {
    0% { transform: translate(0); }
    20% { transform: translate(-3px, 3px); }
    40% { transform: translate(3px, -3px); }
    60% { transform: translate(-3px, -3px); }
    80% { transform: translate(3px, 3px); }
    100% { transform: translate(0); }
}

@keyframes glitchBefore {
    0% { opacity: 1; transform: translate(-2px, -2px); }
    20% { transform: translate(2px, 2px); }
    40% { transform: translate(-2px, 2px); }
    60% { transform: translate(2px, -2px); }
    100% { opacity: 0; transform: translate(0); }
}

@keyframes glitchAfter {
    0% { opacity: 1; transform: translate(2px, 2px); }
    20% { transform: translate(-2px, -2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    100% { opacity: 0; transform: translate(0); }
}

/*hover*/
.underline {
  position: relative;
  display: inline-block;
}

.u-line {
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 5px;
  width: 100%;
  background: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}

.underline:hover .u-line {
  transform: scaleX(1);
}
