body {
    background-image: url("../img/options.png");
    background-color: black;
    background-repeat: no-repeat; 
    background-size: contain;     
    background-position: center; 
    height: 99vh;                           
}
