/*import animations*/
@import url('mainpage.css');
@import url('about.css');

/*background*/
body{
    background-image: url("../img/groupBg.png");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
}

/*button to change project mode*/
.solo-link img {
    width: 150px; 
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.solo-link{
    position: relative;
    float: right;
    padding-right: 30px;
    top: 5%;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    text-align: center; 
    margin:0;
}

/*hover efect for the button*/
.solo-link:hover{
    animation: zoomInOut 1.9s infinite alternate;
}

/*phone style*/
.phone{
    position: relative;
    width: 300px;
    top:20%;
    left: 20px;
}

/*vibration for hover*/
.phone:hover {
    animation: vibrate 0.2s infinite linear; 
}

/*vibration animation*/
@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(2px, 2px); }
}

/*nintendo image*/
.nintendo {
    position: absolute; 
    top: 5%;
    right: 10%;
    animation: jump 2s ease-in-out infinite;
}

/*info in the nintendo (first part)*/
.text {
    font-family: "Jersey 10", sans-serif;
    width: 240px;
    transform: skew(-27deg, 7deg);
    margin-top: 173px;  
    margin-right: 370px;  
}

/*info in the nintendo (second part)*/
.lastItems{
    width: 230px;
    transform: skew(-10deg);
    margin-top: 105px;  
    margin-left: 35px;  
    font-size: 18px;
}
/*bullet points*/
ul{
    list-style-position: inside; 
    padding-left: 0; 
    margin-left: 11px; 
}

/*Project title*/
p{
    font-weight: bold;
    font-size: 20px;
}

