.background-roller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/work_bg.png);
    background-blend-mode: multiply;
    background-size: 50% 70%;
    animation: rollingBg 10s linear infinite;
}