body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/work/work_bg.png) repeat-x;
    animation: rollingBg 7.3s linear infinite;
}

@keyframes rollingBg{
    0%{
        background-position: 0% 0;
    }
    100% {
        background-position: -286% 0;
    }
}